body {
    margin: 0 auto;
    width: 1440px;
}

.goods-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.goods-item {
    background: rgb(170, 102, 102);
    width: 33%;
    margin-bottom: 10px;
    border: 1px solid rgb(107, 31, 31);
}